@charset "utf-8"
/* ---------------------------------------------------------------------------- 
/* ------------------------------------Reset----------------------------------- 
/* ---------------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    color: #4C4C4C;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.clearfix:after,
.clearfix:before {
    clear: both;
    content: '\0020';
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}


/* ---------------------------------------------------------------------------- 
/* ------------------------------------Html-Body------------------------------- 
/* ---------------------------------------------------------------------------- */

body {
    margin: 0px;
    padding: 0px;
    background: #efefef;
    color: #656565;
    font: 14px/22px "Microsoft YaHei", arial, serif;
    font-family: Montserrat, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 16px;
    font-family: 'Microsoft yahei', Arial, sans-serif;
    font-weight: 500;
    color: #333;
}

p {
    margin: 0 0 10px;
    height: 20px;
    font-family: "微软雅黑","黑体","新宋体","Arial Unicode MS";
}

.wrap {
    position: relative;
    width: 960px;
    padding: 0;
    margin: 0 auto;
    text-align: left;
}


/* ---------------------------------------------------------------------------- 
/* ------------------------------------header------------------------------- 
/* ---------------------------------------------------------------------------- */

.TopTable {
    height: 35px;
    background: url(../res/topline.gif) repeat;
    width: 100%;
}

.WebHeader {
    width: 100%;
    height: 60px;
}

.HeadRow {
    width: 960px;
    height: 35px;
    margin: 40px auto;
    vertical-align: top;
}

.logo {
    height: 100%;
    display: table;
    float: left;
}

.logo img {
    height: 100%
}

.nav {
    float: right;
    text-align: center;
    display: inline-block;
}

.nav ul {
    margin-top: 8px;
    padding: 0;
}

.nav li {
    width: 70px;
    height: 35px;
    margin-left: 25px;
    display: inline-block;
    cursor: pointer;
}

.nav a {
    font-size: 16px;
    color: #111;
    font-family: 微软雅黑, 宋体;
}

.nav li:hover {
    border-bottom: 2px solid #2fb789;
    line-height: 150%;
}

.nav .active {
    border-bottom: 2px solid #2fb789;
    line-height: 150%;
}


/* ---------------------------------------------------------------------------- 
/* -------------------------------------banner--------------------------------- 
/* ---------------------------------------------------------------------------- */

.banner {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.imgs {
    margin: 0;
    padding: 0;
    margin-left: 0;
}

.imgs img {
    width: 100%;
    height: 380px;
}

.banner .imgs li {
    display: none;
}

.banner .imgs li.on {
    display: block;
}

.banner .imgs li {
    margin: 0;
    float: left;
}

.banner .btn {
    -webkit-transition: all 0.6s ease;
    /*Safari and Chrome*/
    -moz-transition: all 0.6s ease;
    /*Firefox*/
    -ms-transition: all 0.6s ease;
    /*IE 9*/
    -o-transition: all 0.6s ease;
    /*Opera*/
    transition: all 0.6s ease;
}

.banner .btn {
    display: block;
    width: 40px;
    height: 80px;
    background: rgba(3, 3, 3, 0.2);
    position: absolute;
    top: 50%;
    margin-top: -25px;
    cursor: pointer;
    text-align: center;
    line-height: 80px;
    color: #FFF;
    font-size: 80px;
    font-family: "宋体";
    opacity: 0;
    filter: Alpha(opacity=0);
    /* IE8 以及更早的浏览器 */
}

.banner:hover .btn {
    opacity: 1;
    filter: Alpha(opacity=1);
    /* IE8 以及更早的浏览器 */
}

.banner .btn_l {
    left: 0;
}

.banner .btn_r {
    right: 0;
}

.banner_c {
    width: 100%;
}


/* ---------------------------------------------------------------------------- 
/* ------------------------------------section------------------------------- 
/* ---------------------------------------------------------------------------- */

.row {
    margin: 10px 0 10px;
}

.title_1 {
    margin-top: 20px;
    margin-left: 7px;
    width: 100%;
    line-height: 100%;
    text-align: left;
}

.title_1 span {
    line-height: 46px;
    color: #00bb9c;
    font-family: 微软雅黑;
    font-weight: normal;
    font-size: 20px;
    display: inline;
}

.title_1 p {
    line-height: 46px;
    float: right;
    color: #898888;
    font-size: 14px;
    display: inline;
}

.title_2 {
    margin-left: 10px;
    width: 70px;
    line-height: 130%;
    text-align: center;
}

.BorderLine {
    height: 5px;
    width: 100%;
}

.MainLine {
    width: 70px;
    float: left;
    z-index: 10;
    border-bottom: 2px solid #218100;
}

.MainLine_b {
    width: 95px;
    float: left;
    z-index: 10;
    border-bottom: 2px solid #545454;
}

.SideLine {
    width: 100%;
    border-top: 2px solid #9c9c9c;
}

.SideLine_b {
    width: 100%;
    border-top: 2px solid #e6e6e6;
}

.table_0 {
    padding: 10px 0 10px 0;
}

.table_1 {
    padding: 10px 0 10px 0;
    border-bottom: 1px dashed #9c9c9c;
}

.TableTile {
    height: 30px;
    line-height: 30px;
    vertical-align: bottom;
}

.TableTile img {
    float: left;
}

.service {
    margin: 5px 0 5px;
    height: 20px;
    cursor: pointer;
    line-height: 20px;
}

.service img {
    margin-right: 10px;
}
/* ---------------------------------------------------------------------------- 
/* ------------------------------------section-about-------------------------- 
/* ---------------------------------------------------------------------------- */
.tabBtn{
    height: 45px;
    width: 100%;
    line-height: 45px;
    border-right: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    text-align: center;
    background: #fff;
}

.tabBtn span{
    color: #333;
    font-size: 12px;
    sfont-family: "微软雅黑","宋体";
    cursor: default;
}

.tabTable .on{
    background: #33BF8E;  
}
.tabTable .on span{
    color: #fff;
}
.article article{
    display: none;
}
.article article.on{
    display: block;
}
/* ---------------------------------------------------------------------------- 
/* ------------------------------------content------------------------------- 
/* ---------------------------------------------------------------------------- */

.content img {
    width: 300px;
    height: 225px;
    margin: 5px;
}

.mulColContent .wrap-col {
    margin: 10px 30px;
}

.newsTable {
    padding: 0;
}

.newsTable table {
    width: 100%
}

.newsTable td {
    vertical-align: top;
}

.newsTitle {
    height: 23px;
    line-height: 23px;
    cursor: pointer;
}

.newsCalendar {
    height: 23px;
    line-height: 23px;
    width: 89px;
    cursor: pointer;
    text-align: right;
}
.advs{
    margin-top: 10px;
}
.advs img{
    width: 139px;
    height: 145px;
    vertical-align: top;
        margin-right: 10px;
    float: left;

}
.advsContent{
    line-height: 1.8;
    padding: 0;
    white-space: normal;
    word-wrap: break-word;
    word-break: normal;
    overflow: hidden;
    width: 100%;
    text-align: left;
    display: inline;
}
.advsContent p{
    margin: 0;
    font-size: 12px;
}
.advsContent span{
    font-size: 16px;
    line-height: 1.5em;
}
.advs img{
    width: 139px;
    height: 145px;
    vertical-align: top;
    float: left;

}

/* ---------------------------------------------------------------------------- 
/* ------------------------------------footer------------------------------- 
/* ---------------------------------------------------------------------------- */

footer {
    margin-top: 40px;
    height: 125px;
    width: 100%;
    background-color: #4a4a4a;
}

.Lfoot {
    margin-top: 25px;
    float: left;
}

.Lfoot img {
    height: 30px;
}

footer p,
a {
    color: #AEAEAE;
    line-height: 1.8;
    font-size: 12px;
    font-family: "微软雅黑", "黑体", "新宋体", "Arial Unicode MS"
}

.Rfoot {
    margin-top: 40px;
    float: right;
}

.Rfoot li {
    height: 19px;
    line-height: 15px;
    padding-right: 7px;
    display: inline-block;
    border-right: 1px solid #AEAEAE;
}

.Rfoot a {
    margin: 0;
    padding: 0;
}
